{% extends 'coach/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}

{% block content %}

<main>
        <!--? Hero Start -->
<!--        <div class="slider-area2">-->
<!--            <div class="slider-height2 d-flex align-items-center">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-xl-12">-->
<!--                            <div class="hero-cap hero-cap2 text-center pt-70">-->
<!--                                <h2>FitHome - с каждым днем ты становишься лучше!</h2>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Hero End -->
        <!--? About Area Start -->
        <section class="about-area section-padding30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="{% static 'assets/img/gallery/about.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle3 mb-35">
                                <span>О наших тренировках</span>
                                <h2>Безопасные тренировки, которые экономят Ваше драгоценное время!</h2>
                            </div>
                            <p class="pera-top">Одна платформа - польза каждый день!</p>
                            <p class="mb-65 pera-bottom">Программы по любым направлениям! Ваша идеальная форма с нашими
                            тренировками! Подберите идеальные программы тренировок для любого уровня подготовки
                            и достигайте своих целей вместе с нами.</p>
                            <a href="{% url 'register' %}" class="btn">Стать участником</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-2 Area End -->
        <!--? Gallery Area Start -->
        <div class="gallery-area">
            <div class="container-fluid p-0 fix">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <a href="{% url 'gallery' %}"><i class="ti-arrow-top-right"></i></a>
                                    <h3>Наши лучшие тренировки</h3>
                                    <p>Фитнес, тело</p>
                                </div>
</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="{% url 'gallery' %}"><i class="ti-arrow-top-right"></i></a>
                                        <h3>Наши лучшие тренировки</h3>
                                        <p>Фитнес, тело</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="{% url 'gallery' %}"><i class="ti-arrow-top-right"></i></a>
                                        <h3>Наши лучшие тренировки</h3>
                                        <p>Фитнес, тело</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="{% url 'gallery' %}"><i class="ti-arrow-top-right"></i></a>
                                        <h3>Наши лучшие тренировки</h3>
                                        <p>Фитнес, тело</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/gallery5.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="{% url 'gallery' %}"><i class="ti-arrow-top-right"></i></a>
                                        <h3>Наши лучшие тренировки</h3>
                                        <p>Фитнес, тело</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Team Ara End -->
        <!--? Want To work -->
    <section class="services-area pt-100 pb-150 section-bg" data-background="{% static 'assets/img/gallery/section_bg02.png' %}">
            <!--? Want To work -->
            <section class="wantToWork-area w-padding">
                <div class="container">
                    <div class="row align-items-end justify-content-between">
                        <div class="col-lg-6 col-md-10 col-sm-10">
                            <div class="section-tittle section-tittle2">
                                <span>Наши тренировки для тебя!</span>
                                <h2>Приобрести индивидуальную программу тренировок прямо сейчас!</h2>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <a href="{% url 'program' %}" class="btn wantToWork-btn f-right">Больше программ</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Want To work End -->
            <div class="container">
                <div class="row">

                    {% for tren in coach %}

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="{{ tren.image.url }}" alt="">
<!--                                <i class="flaticon-fitness"></i>-->
                            </div>
                            <div class="cat-cap">
                                <h5><a href="{% url 'program' %}">{{ tren.title }}</a></h5>
                                <p>{{ tren.description }}</p>
                            </div>
                            <div class="img-cap">
                                <a href="{% url 'program' %}" class="">Узнать больше о нас <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </section>



        <!-- Want To work End -->
    </main>

{% endblock %}