{% extends 'coach/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}

{% block content %}

<h1>Галерея</h1>
    <div class="gallery">
        {% for photo in photos %}
            <div class="gallery-item">
                <img src="{{ photo.image.url }}" alt="{{ photo.description }}">
                {% if photo.description %}
                    <p>{{ photo.description }}</p>
                {% endif %}
            </div>
        {% empty %}
            <p>Нет доступных фотографий.</p>
        {% endfor %}
    </div>
{% endblock %}