{% load static %}

<header class="header">
  <div class="container">
    <a href="/" class="header_logo">
      <img src="{% static 'images/logo.svg' %}" alt="FitHome Logo">
    </a>
    <nav class="header_nav">
      <input type="checkbox" id="resp-menu"/>
      <label for="resp-menu" class="tog-menu">
        <span>Меню</span>
        <div class="tog-menu_lines"></div>
      </label>
      <ul class="header_menu">
        <li class="header_menuItem"><a href="#">Обо мне</a></li>
        <li class="header_menuItem"><a href="#">Тренировки</a></li>
        <li class="header_menuItem"><a href="#">Питание</a></li>

        <li class="header_menuItem"><a href="#">Регистрация</a></li>

      </ul>
      
    </nav>
  </div> 
</header>


