{% extends 'coach/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

<main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center pt-70">
                                <h2>Наши тренировки</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Services Area Start -->
        <section class="services-area pt-100 pb-150">
            <!--? Want To work -->
            <section class="wantToWork-area w-padding">
                <div class="container">
                    <div class="row align-items-end justify-content-between">
                        <div class="col-lg-6 col-md-10 col-sm-10">
                            <div class="section-tittle">
                                <span>Программы тренировок для тебя</span>
                                <h2>Совершенствуй, иди вперед с нашими программами тренировок</h2>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <a href="program.html" class="btn wantToWork-btn f-right">Наши тренировки</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Want To work End -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <i class="flaticon-fitness"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="program.html">Силовые тренировки</a></h5>
                                <p>Давно ждали активные часовые тренировки? У вас сидячий образ жизни или просто хотите
                                    почувствовать работу всего тела? Ура — это то, что вы искали! Программа включает
                                    10 занятий по 60 минут, направленных на развитие ягодиц, бёдер, икроножных мышц,
                                    а также укрепление кора и мышц живота.
                                    Из оборудования понадобятся: гантели 1,5—3 кг, резинки и коврик. Если вы новичок,
                                    можно тренироваться без оборудования.
                                    Уровень сложности средний.
                                    Кроме базовых упражнений, приседаний, выпадов и наклонов вы изучите функциональные
                                    связки, делающие тренировки более динамичными. Освоив упражнения, вы получите
                                    сильные ягодицы, подтянутый живот, крепкий кор, улучшите осанку и подвижность
                                    таза.</p>
                            </div>
                            <div class="img-cap">
                                <a href="program.html" class="">Присоединится прямо сейчас<i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <i class="flaticon-healthcare-and-medical"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="program.html">Кардиотренировки</a></h5>
                                <p>Кардиотренировки нужны для того, чтобы избавиться от лишнего веса и придать мышцам
                                    заветный тонус. И если это твоя цель, надевай форму и запускай программу!</p>
                            </div>
                            <div class="img-cap">
                                <a href="program.html" class="">Присоединится прямо сейчас <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <i class="flaticon-clock"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="program.html">Растяжка</a></h5>
                                <p>Программа Гибкость – это комплексный подход к растяжке всего тела, также большое
                                    внимание мы уделим и шпагатам.</p>
                            </div>
                            <div class="img-cap">
                                <a href="program.html" class="">Присоединится прямо сейчас <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <i class="flaticon-healthcare-and-medical"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="program.html">Женственность и пластика</a></h5>
                                <p>Программа поможет создать определённые состояния, такие как спокойствие, тихая
                                    радость, благость. Рекомендуется включать её в любой тренировочный график для
                                    удовольствия и познания себя. </p>
                            </div>
                            <div class="img-cap">
                                <a href="program.html" class="">Присоединится прямо сейчас <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <i class="flaticon-clock"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="program.html">Зарядки</a></h5>
                                <p>Хотите больше двигаться, но нет времени на долгие тренировки? Зарядки помогут
                                    размяться и почувствовать лёгкость в теле.</p>
                            </div>
                            <div class="img-cap">
                                <a href="program.html" class="">Присоединится прямо сейчас <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <i class="flaticon-fitness"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="program.html">Идеальный пресс</a></h5>
                                <p>Идеальный пресс это не только красиво, но также необходимо для вашего здоровья.
                                    Программа подходит и мужчинам и женщинам в равной степени. Тренировки из программы
                                    Идеальный пресс за 15 минут помогут вам укрепить мышцы живота, уменьшить окружность
                                    талии, избавить поясницу от перегрузок, почувствовать тонус и даже увидеть заветные
                                    кубики пресса!</p>
                            </div>
                            <div class="img-cap">
                                <a href="program.html" class="">Присоединится прямо сейчас <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area End -->


    </main>

{% endblock %}